{% extends 'base.html.twig' %}

{% block title %}Perfect Registration - Home{% endblock %}

{% block body %}
<div class="container mb-4">
    <div class="row text-center">
      {% if app.user %}
      <div class=" text-center mb-4">
        <h1 class="big">Bonjour {{ app.user.firstname }},<br> Passer une bonne journée !</h1>

    </div>
      {% else %}
     <div class=" text-center mb-4">
            <h1 class="big">Le meilleur formulaire <br> d'inscription qui existe.</h1>
            <h2 class="mini">Venez tester et vous verrez.</h2>
        </div>
        <div class="d-grid gap-2 col-3 mx-auto">
            <button type="submit" class="btn border border-3 rounded-pill"><a class="text-decoration-none text-white" href={{path("app_register")}}>S'inscrire gratuitement</a></button>
        </div>
  
      {% endif %}
      </div>
    </nav>
       
</div>
<div class="container">
  <p id="token"></p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card a">
     
      <div class="card-body ">
        <h4 class="card-title text-center arvos ">Base de données</h4>
        <p class="card-text">Une base de données est un ensemble d'informations qui est organisé de manière à être facilement accessible, géré et mis à jour. Elle est utilisée par les organisations comme méthode de stockage, de gestion et de récupération de l'informations.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      
      <div class="card-body">
        <h4 class="card-title text-center arvos">Formulaire complet</h4>
        <p class="card-text">Les formulaires d’inscription représentent un moyen accessible et efficace de recueillir des informations importantes sur vos visiteurs.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      
      <div class="card-body">
        <h4 class="card-title text-center arvos">Authentification via reseau sociaux</h4>
        <p class="card-text">De plus en plus de site proposent une authentification via les réseaux sociaux, dans le but de faciliter et rendre plus rapide la phase d'inscription.</p>
      </div>
    </div>
  </div>
</div>
</div>




{% endblock %}