{% extends 'base.html.twig' %}

{% block title %}Perfect Registration - Home{% endblock %}

{% block body %}
<div class="container mb-4">
    <div class="row text-center">
      {% if app.user %}
      <div class=" text-center mb-4">
        <h1 class="big">Bonjour {{ app.user.firstname }}</h1>

    </div>
      {% else %}
     <div class=" text-center mb-4">
            <h1 class="big">Le meilleur formulaire <br> d'inscription qui existe.</h1>
            <h2 class="mini">Venez tester et vous verrez.</h2>
        </div>
        <div class="d-grid gap-2 col-3 mx-auto">
            <button type="submit" class="btn border border-3 rounded-pill"><a class="text-decoration-none text-white" href={{path("app_register")}}>S'inscrire</a></button>
        </div>
  
      {% endif %}
      </div>
    </nav>
       
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
     
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
</div>




{% endblock %}