{% extends 'base.html.twig' %}

{% block title %}Hello AnnoncesController!{% endblock %}

{% block body %}
{{form_start(formvue)}}
{{form_widget(formvue)}}
<button formnovalidate class="btn btn-primary mb-2">Enregistrer</button>
{{form_end(formvue)}}
{% endblock %}
