@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

body{
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
}

.title{
    font-family: 'Pacifico', cursive !important; 
   
    background-clip: text;
    color: transparent;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
    
}
button{
  background-clip: border-box;
  color: white;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: border-box;
    -webkit-text-fill-color:white;
    font-size:large;
  
    
    
}

.card{
    border-radius: 20px;
}