  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex p-3">
    <a class="navbar-brand" href={{path("app_home")}}>Perfect Registration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href={{path("app_home")}}>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{path("app_register")}}>Inscription</a>
        </li>
        <li class="nav-item navbar-right">
          <a class="nav-link" href={{path("app_login")}}>Connection</a>
        </li>
   
      </ul>
    </div>
  </nav>