{% extends 'base.html.twig' %}

{% block title %}Perfect Registration - Newsletter{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white rounded-end">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Profile</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="/users" class="nav-link px-0 align-middle">
                            <i class="fa-regular fa-user fa-lg"></i> <span class="ms-1 d-none d-sm-inline">Mon
                                Compte</span></a>
                    </li>
                    <li>
                        <a href="/users/newsletter" class="nav-link px-0 align-middle">
                            <i class="fa-regular fa-envelope fa-lg"></i> <span
                                class="ms-1 d-none d-sm-inline">Newsletter</span> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
 
        </div>
    </div>
</div>
{% endblock %}